
# most of the below will "select MAILBOX" but QCOM depends on it
CONFIG_MAILBOX=y
CONFIG_HWSPINLOCK=y

#
# All Remoteproc drivers in ARM64 (so far )
#
CONFIG_REMOTEPROC=y
CONFIG_REMOTEPROC_CDEV=y
CONFIG_IMX_REMOTEPROC=m
CONFIG_MTK_SCP=m
CONFIG_QCOM_PIL_INFO=m
CONFIG_QCOM_RPROC_COMMON=m
CONFIG_QCOM_Q6V5_COMMON=m
CONFIG_QCOM_Q6V5_ADSP=m
CONFIG_QCOM_Q6V5_MSS=m
CONFIG_QCOM_Q6V5_PAS=m
CONFIG_QCOM_Q6V5_WCSS=m
CONFIG_QCOM_SYSMON=m
CONFIG_QCOM_WCNSS_PIL=m
CONFIG_TI_K3_DSP_REMOTEPROC=m
CONFIG_TI_K3_R5_REMOTEPROC=m
CONFIG_XLNX_R5_REMOTEPROC=m

CONFIG_QCOM_SMEM=y

# enable platform device UIO
# This is used on Xilinx platforms in some (legacy) use cases
# This does nothing unless the user opts into it
CONFIG_UIO=y
CONFIG_UIO_PDRV_GENIRQ=m

#
# All Rpmsg drivers in ARM64 (so far)
# Don't be redundant with base level openamp.cfg
#
CONFIG_RPMSG_MTK_SCP=m
CONFIG_RPMSG_QCOM_GLINK=m
CONFIG_RPMSG_QCOM_GLINK_RPM=m
CONFIG_RPMSG_QCOM_GLINK_SMEM=m
CONFIG_RPMSG_QCOM_SMD=y
CONFIG_RPMSG_TTY=m
